 

header {
  display: flex;
  position: fixed;
  
  height:70px;
  width:100%;
  
  top:0;
  margin: 0;
  
  z-index:10;
}

.hlink {
  display: flex;
  height:70px;
  width: 100%;
  background: white;
  position: relative;
  
}
.hlink-logo {
  position: absolute;
  top: 23px;
  left: 30px;
  
  text-decoration: none;
  color: black;
  font-size: 24px;
}

.hlink-logo:hover {
  opacity: 0.5;
}

.hlink-list ul{
  position: absolute;
  top: 27px;
  right: 20px;
  display: flex;
  
  
}
.hlink-item{
  margin-right: 30px;
  text-decoration: none;
  color: black;
}

.hlink-item:hover {
  opacity: 0.5;
}

/* ↓ハンバーガ－メニューボタン、スライドメニュー非表示 */
.menu-button {
  display: none;
}

.menu {
  display: none;
}

body {
  font-family: 游ゴシック;
}

/* ブログ-メイン */
.blog-top {
  
  height: 250px;

  text-align: center;
  background-image: url("../img/mv.png");
  
  background-size: cover ;
  
  background-position-y: center;
  
}

.blog-top h3 {
  line-height: 250px;
  color: white;
  
  font-size: 30px;
  
} 

.blog-flex {
   width: 1100px;
   margin:90px auto;
   display: flex;
   flex-wrap: wrap;
}
.blog-flex img {
   height: 200px;
   width: 350px;

}

.blog-item:not(:nth-child(3n)){
margin-right: 20px;
}

.blog-item a {
   text-decoration: none;
   color: black;
   
}

.blog-item a:hover {
   opacity: 0.5;
}
 
.blog-item img:hover {
   opacity: 0.5; 
}
.blog-subtitle {

   margin: 20px 0;
} 

.blog-subtitle p{
   font-size: 14px;
   padding-bottom:10px;
}

.blog-subtitle h4{
   font-size: 18px;
}



/* お問い合わせ */

#contact{
  height: auto;
  background-color: #F5F6F9;
  
  
}
.contact-wrap {
  
  text-align:center;
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

#contact h2 {
  font-size: 30px;
  margin-bottom: 30px;
}
#contact p {
  
  margin-bottom: 40px;
}

#contact a{
  display:inline-block;
  background-color: #CD0224;
  color: white;
  padding: 15px 100px;
  text-decoration:none;
 
}






/* フッター */

.footer-flex {
  background-color: #222222;
  height: 60px;
  position:relative;
  display: flex;
}

footer small{
  color: white;
  position: absolute;
  top:50%;
  left: 150px;

  transform: translate(-50%,-50%);
  
  font-size: 12px;
  
} 


 footer ul {
  
  position: absolute;
  top: 50%;
  right: 60px;
  transform: translate(0,-50%);
  display: flex;
  
  list-style: none;
  
}

footer a {
  text-decoration: none;
  margin-left: 10px;
  font-size: 12px;
  color:white;
}



footer li:not(:last-child) {
  border-right: 1px solid white;
  padding-right: 10px;
} 
















@media screen and (max-width:768px) {
/* 768px以下の時は非表示 */
.hlink-list {
  display: none;
}



/* 上からスライドしてくるメニューのCSS */
nav.menu{
  display: block;
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  color: black;
  text-align: center;
  transform: translateX(-100%);
  transition: all 0.6s;
  width: 100%;
  height:100%;
}

nav.menu ul{
  margin: 100px auto 0;
  padding: 0;
  width: 100%;

}

nav.menu ul li{
  font-size: 20px;
  list-style-type: none;
  padding: 0;
  width: 100%;
  /* border-bottom: 1px solid black; */
}

nav.menu ul li a{
  text-decoration: none;
  display: inline-block;
  color: #4D71DB;
  margin: 1em 0;
}

nav.menu.active{
  transform: translateY(0%);
}
/* 上からスライドしてくるメニューのCSS */

/* メニューボタンのCSS */
.menu__button{
    display: block;
    position: fixed;
    right: 30px;
    top: 15px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 3;
    background: white;
    text-align: center;
}

.menu__button span{
    display: block;
    position: absolute;
    width: 36px;
    border-bottom: solid 4px black;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
    left: 6px;
}

.menu__button span:nth-child(1){
  top:5px;
}

.menu__button span:nth-child(2){
  top:20px;
}

.menu__button span:nth-child(3){
  top:35px;
}

.menu__button.active span:nth-child(1){
     top: 18px;
    left: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu__button.active span:nth-child(2),
.menu__button.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}
/* ↑メニューボタンのCSS */

/* ↓ブログメイン */

.blog-wrap{
  width:100%;
}
.blog-flex {
  width:90%;
  
  margin: 80px auto;
   display: block;
   flex-wrap: no-wrap;


}
.blog-item{
  margin-right: 20px;
}


.blog-item img {
  width: 100%;
  height: auto;
}












/*---- 以下フッター---- */
.footer-flex {
  height: 250px;

  justify-content:space-around;
  align-items: center;
}

footer small {
  position:static;
}
 footer ul{
  
  position:absolute;
  right: 180px;
  display: block;
  text-align:center;
 
 }
 footer a {
   text-decoration: none;
   padding: 10px;
   }
 footer li:not(:last-child){
  border-right: none;
  

 }
}








@media screen and (max-width: 600px) {
  .footer-flex {
  display: block;
  text-align: center;
  
  
}

footer small{
  
  text-align:center;
  position:static;
  transform:none;
} 

footer ul {
  text-align:center;
  line-height: 30px;
  position: static;
  
  display: block;
  transform: none;

  
}



}